<!DOCTYPE html>
<html>
<head>
  <title>Active Admin</title>
  <%= stylesheet_link_tag 'active_admin', 'active_admin_custom' %>
  <%= javascript_include_tag 'active_admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
